*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: #f0fdfa;
    --text-color: #042f2e;
    --header-bg: #042f2e;
}
html{
    font-size: 16px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 0.1fr;
    background-color: var(--bg-color);
    background-image: url(img/tic-tac-toe-game-svgrepo-com.svg);
    position: relative;

}
div.container{
    grid-area: 1/1;
    height: 100%;
    display: grid;
    grid-template-rows: 0.2fr 1fr;

}
.header{
    background-color: var(--header-bg);
    display: flex;
    justify-content: center;
    padding: 20px;
    grid-area: 1/1/1/2;
}
.header > h1{
    
    color: var(--bg-color);
    font-size: 3rem;
}
div.choice-div{
    grid-area: 2/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
div.game-div{
    display: none;
    grid-area: 2/1;
    grid-template-rows: 1fr 3fr;
    
}
div.game-div .score-div{
    grid-area: 1/1/1/2;
    display: grid;
    grid-template-columns: 2fr 0.2fr 2fr;
    grid-template-rows: 0.5fr 0.5fr;
}
div.score-div .player1-div{
    grid-area: 2/1/2/1;
    
}
div.score-div .player2-div{
    grid-area: 2/3/2/4; 
}
div.score-div .verses{
    grid-area: 2/2/2/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.verses > h4{
    font-size: 1.3rem;
    color: var(--header-bg);
}
.player1-div,
.player2-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-screen{
    border: 1px solid var(--text-color);
    border-radius: 10px;
    width: 70%;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    
}

.score-screen > h3{
    color: var(--header-bg);
    font-size: 1rem;
}
div.game-div .board-div{
    grid-area: 2/1/2/2;
    display: grid;
    padding: 20px;
    position: relative;
    
}
div.game-div .board{
    border: 1px solid var(--header-bg);
    /* background-color: var(--header-bg); */
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    grid-template-rows: repeat(3, 0.3fr);
    gap: 5px;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
}
 .page-refresh{
    width: 70px;
    margin: auto;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--header-bg);
    background-color: var(--header-bg);
    color: var(--bg-color);
    cursor: pointer;

}
div.board .cells{
    background-color: var(--header-bg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--bg-color);
}
div.text-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.text-div > h2{
    color: var(--text-color);
    font-size: 2rem;
}
div.the-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
div.the-btn > button{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid var(--header-bg);
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.2rem;
}
div.the-btn > button:hover{
    background-color: var(--header-bg);
    color: var(--bg-color);
}
div.scores{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: var(--header-bg);
    position: absolute;
    width: 100%;
    top: 350px;
}
div.scores p{
    color: var(--bg-color);
}
div.scores button{
    font-size: 1rem;
    padding: 5px;
    width: 7rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid var(--header-bg);
    color: var(--header-bg);
    cursor: pointer;
}
div.scores button:hover{
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    background-color: var(--text-color);
}

.friends,
.computer{
    position: fixed;
    top: 10px;
    width: 60%;
    margin: auto;
    border-radius: 10px;
    border: 1px solid var(--header-bg);
}
.dialog-friend-container,
.dialog-computer-container{
    padding: 20px;
}
.dialog-friend-container > form,
.dialog-computer-container > form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dialog-friend-container > form > input[type=text],
.dialog-computer-container > form > input[type=text]{
    padding: 5px;
    height: 1.3rem;
    border-radius: 5px;
    border: 1px solid var(--header-bg);
}
.dialog-friend-container > form > label,
.dialog-computer-container > form > label{
    font-size: 0.9rem;
}
.dialog-friend-container > form > select,
.dialog-computer-container > form > select{
    border: 1px solid var(--header-bg);
    height: 1.5rem;
    border-radius: 5px;
}
.dialog-friend-container > form > button,
.dialog-computer-container > form > button{
    align-self: center;
    font-size: 1rem;
    padding: 5px;
    width: 7rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 10px;
    background-color: var(--header-bg);
    color:var(--bg-color);
    cursor: pointer;
    border: none;
}
.dialog-friend-container > form > button:hover,
.dialog-computer-container > form > button:hover{
    border: 1px solid var(--header-bg);
    color: var(--header-bg);
    background-color: var(--bg-color);
}
footer{
    grid-area: 3/1;
    margin: auto;
    font-size: 1.1rem;
    color: var(--header-bg);
}
footer > p > a,
footer > p{
    text-decoration: none;
    color: var(--header-bg);    
}
footer > p > a{
    cursor: pointer;
}
footer > p > a:hover{
    color: blue;
}


@media screen and (min-width: 481px) and (max-width: 768px) {
/* //For Tablets */
    body{
       display: flex;
     flex-direction: column;
    }
    .container {
      width: 100%;
    
    }
    .header{
        width: 100%;
    }
    .header > h1{
        font-size: 6rem;
    }
    div.game-div{
        justify-self: center;
        width: 60%;
    }
    .text-div > h2{
        font-size: 3rem;
    }
    div.the-btn > button{
        font-size: 2rem;
        height: 50px;
        width: 200px;
    }
    .page-refresh{
        margin-bottom: 20px;
    
    }
    div.scores{
        top: 450px;
        left: 0px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
/* //For Laptops */
    body{
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 100%;
        
    }
    .header{
        width: 100%;
    }
    .header > h1{
        font-size: 6rem;
    }
    div.game-div{
        justify-self: center;
        width: 55%;
    }
    .text-div > h2{
        font-size: 3rem;
    }
    div.the-btn > button{
        font-size: 2rem;
        height: 50px;
        width: 200px;
    }
    .friends,
    .computer{
        width: 40%;
}
.page-refresh{
    margin-bottom: 20px;

}
div.scores{
    top: 700px;
    left: 0px;
}
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
/* //For Large Laptops */
body{
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    
}
.header{
    width: 100%;
}
.header > h1{
    font-size: 4rem;
}
div.game-div{
    justify-self: center;
    width: 40%;
}
.text-div > h2{
    font-size: 3rem;
}
div.the-btn > button{
    font-size: 3rem;
    height: 50px;
    width: 200px;
}
.page-refresh{
    margin-bottom: 20px;

}
div.scores{
    top: 350px;
    left: 0px;
}
}

@media screen and (min-width: 1280px) and (max-width: 1504px) {
/* //For Big TV's (HD Screens)  */
body{
    display: flex;
    flex-direction: column;
}
.container {
    width: 100%;
    
}
.header{
    width: 100%;
}
.header > h1{
    font-size: 4rem;
}
div.game-div{
    justify-self: center;
    width: 40%;
}
.text-div > h2{
    font-size: 2.2rem;
}
div.the-btn > button{
        font-size: 1.5rem;
        height: 50px;
        width: 150px;
    }
    .friends,
    .computer{
        width: 30%;
}
.page-refresh{
    margin-bottom: 20px;

}
div.scores{
    top: 350px;
    left: 0px;
}
}