*{
    margin: 0;
    padding: 0;
}
:root{
    --bg-color: #f0fdfa;
    --text-color: #042f2e;
    --header-bg: #042f2e;
}
html{
    font-size: 16px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100%;
    display: grid;
    grid-template-rows: 3fr 0.1fr;
    background-color: var(--bg-color);
    background-image: url(img/tic-tac-toe-game-svgrepo-com.svg);

}
div.container{
    grid-area: 1/1;
    height: 100%;
    display: grid;
    grid-template-rows: 0.2fr 1fr;

}
.header{
    background-color: var(--header-bg);
    display: flex;
    justify-content: center;
    padding: 20px;
}
.header > h1{
    grid-area: 1/2;
    color: var(--bg-color);
    font-size: 3.4rem;
}
div.choice-div{
    grid-area: 2/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}
div.game-div{
    display: none;
    grid-area: 2/1;
    grid-template-rows: 1fr 3fr;
    
}
div.game-div .score-div{
    grid-area: 1/1/1/2;
    display: grid;
    grid-template-columns: 2fr 0.2fr 2fr;
    grid-template-rows: 0.5fr 0.5fr;
}
div.score-div .player1-div{
    grid-area: 2/1/2/1;
    
}
div.score-div .player2-div{
    grid-area: 2/3/2/4; 
}
div.score-div .verses{
    grid-area: 2/2/2/2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.verses > h4{
    font-size: 1.3rem;
    color: var(--header-bg);
}
.player1-div,
.player2-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.score-screen{
    border: 1px solid var(--text-color);
    border-radius: 10px;
    width: 70%;
    padding: 5px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    
}

.score-screen > h3{
    color: var(--header-bg);
    font-size: 1rem;
}
div.game-div .board-div{
    grid-area: 2/1/2/2;
    display: grid;
    padding: 20px;
    position: relative;
    
}
div.game-div .board{
    border: 1px solid var(--header-bg);
    /* background-color: var(--header-bg); */
    display: grid;
    grid-template-columns: repeat(3, 0.3fr);
    grid-template-rows: repeat(3, 0.3fr);
    gap: 5px;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
}
 .page-refresh{
    width: 70px;
    margin: auto;
    font-size: 1rem;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--header-bg);
    background-color: var(--header-bg);
    color: var(--bg-color);
    cursor: pointer;

}
div.board .cells{
    background-color: var(--header-bg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: var(--bg-color);
}
div.text-div{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}
.text-div > h2{
    color: var(--text-color);
    font-size: 2rem;
}
div.the-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
div.the-btn > button{
    width: 10rem;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid var(--header-bg);
    color: var(--text-color);
    cursor: pointer;
    font-size: 1.2rem;
}
div.the-btn > button:hover{
    background-color: var(--header-bg);
    color: var(--bg-color);
}
div.scores{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    background-color: var(--header-bg);
    position: absolute;
    width: 100%;
    top: 350px;
}
div.scores p{
    color: var(--bg-color);
}
div.scores button{
    font-size: 1rem;
    padding: 5px;
    width: 7rem;
    cursor: pointer;
    height: 2rem;
    border-radius: 10px;
    border: 1px solid var(--header-bg);
    color: var(--header-bg);
    cursor: pointer;
}
div.scores button:hover{
    border: 1px solid var(--bg-color);
    color: var(--bg-color);
    background-color: var(--text-color);
}
footer{
    grid-area: 3/1;
}